html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: rgb(68, 67, 62);
  font-size: 14px;
  line-height: 21px;
}

img {
  display: block;
  max-width: 100%;
}

.clearfix::after {
  /*display: table;*/
  content: '';
  clear: both;
  display: block;
}

.container {
  font-family: "Releway", "Arial", sans-serif;
  width: 1110px;
  margin: 0 auto;
  /*background-color: rgb(179, 149, 149);*/
}

.container-page {
  margin-bottom: 110px;
}

.site-logo {
  display: inline-block;
}

.site-navigation {
  font-family: "Releway", "Arial Black", sans-serif;
  float: right;
  margin: 0;
  padding: 0;
  font-size: 13px;
  list-style: none;
}

.item:not(:last-child) {
  margin-right: 34px;
}

.item {
  display: block;
  font-weight: 466;
  margin-top: 6px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
  float: left;
}

.item:hover {
  color: #38c5a7;
}

.gallery {
  margin-bottom: 106px;
}

.section-title-heading {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
  /*background-color: rgb(100, 85, 182);*/
}

.section-title-heading::after {
  content: "";
  position: absolute;
  left: calc(50% - 80px);
  bottom: -40px;
  width: 164px;
  height: 4px;
  background-color: #38c5a7;
}

.line {
  margin-bottom: 92px;
}

.card {
  margin: 0;
  padding: 0;
}

.card-item {

 width: 256px;
  margin-right: 28px;
  margin-bottom: 30px;
  list-style: none;
  float: left;
}

.card-item:nth-child(4n) {
  margin-right: 0;
}

.card-item:nth-child(n+4) {
  margin-bottom: 0;
}

.card-item-box-info {
  height: 40px;
  background-color: #000;
}

.card-item-box-info:hover {
  background-color: #1abc9c;
}

.subject {
  float: left;
  margin: 0;
  line-height: 40px;
  padding: 0 5px;
  width: 216px;
  color: white;
  text-transform: uppercase;
}

.price {
  float: left;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: rgb(248, 239, 239);
  background-color: rgb(97, 97, 97);
}

.price:hover {
  background-color: #7fd9c7;
}

.blog {
  margin-bottom: 46px;
}

.blog-list {
  margin: 0;
  padding: 0;
}

.blog-list-item {
  width: 350px;
  margin-right: 30px;
  list-style: none;
  float: left;
}

.blog-list-item:last-child {
  margin-right: 0;
}

.desc {
  margin-bottom: 14px;
}

/*.desc::after {
  content: "";
  width: 164px;
  height: 4px;
  position: absolute;
  left: calc(50% - 40px);

  background-color: #38c5a7;
}*/

.button-btn {
  margin: 0;
  padding: 0;
  border: none;
  width: 160px;
  height: 60px;
  border-radius: 2px;
  /*font-size: 20px;*/
  color: #fff;
  font-size: 14px;
  background-color: #38c5a7;
}
